/**
 * Variables
 */
$white: #fff;
$black: #000;
$dark: #232323;
$theme-color: #ccd264;
$theme-color-dark: #465719;
$theme-color2: #6c9346;
$theme-color3: #788945;
$gray: #dcdcdc;
$light-gray: #e7ebee;
$very-light-gray: #f8f8f8;

$error-color: #b61218;

$border-color: #dcdcdc;
$input-color: #8c8c8c;
$text-color: #232323;

$font-primary: "Raleway", sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;
