.footer {
	width: 100%;
	position: relative;
	padding: 40px 0 0;
	border-top: 1px solid $border-color;
	max-width: 100%;
	overflow: hidden;

	&__column {
		position: relative;

		@media (max-width: 1249px) {
			text-align: center;
		}
	}

	&__logo {
		max-width: 165px;
	}

	&__content {
		width: 100%;
	}

	&__locations {
		columns: 2;
		margin: 15px 0 0;

		@media (max-width: 991px) {
			margin: 15px auto 0;
			max-width: 311px;
		}

		li {
			margin: 0;
			position: relative;

			a {
				font-size: 16px;
				font-weight: 700;
				color: #373737;
			}
		}
	}

	&__text {
		width: 100%;

		p {
			font-weight: 700;
			margin: 0;
			color: #373737;

			@extend .h3;

			@media (max-width: 767px) {
				text-align: center;
			}
		}
	}

	&__image {
		margin: -20px 0 30px;
		display: flex;
		justify-content: flex-end;

		@media (max-width: 991px) {
			margin: 20px auto 30px;
		}
	}

	&__social-media {
		margin: 30px 0 0;
		justify-content: center;

		@media (max-width: 991px) {
			margin: 30px auto;
		}

		li {

			a {

				img {
					filter: brightness(1) invert(0.3);
				}
			}
		}
	}
}
