.nav {
    position: relative;
    width: 100%;
    max-width: 100vw;

    &__container {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 250ms ease;
        z-index: 10;
        padding: 30px 65px !important;

        // &::after {
        //   display: block;
        //   content: '';
        //   width: 100%;
        //   height: 1px;
        //   position: absolute;
        //   left: 0;
        //   right: 0;
        //   bottom: 0;
        //   background: #7e8a5e;
        //   z-index: 3;
        //   opacity: 0;
        //   transition: all 300ms ease;
        // }

        // &--open {
        //   &::after {
        //     opacity: 1;
        //   }
        // }

        @media (max-width: 1199px) {
            padding: 20px 30px !important;
            min-height: 65px;
        }

        @media (max-width: 1099px) {
            padding: 20px 30px !important;
        }
    }

    &__row {
        max-width: 100%;
        width: 100%;
        overflow: hidden;
    }

    &__logo {
        width: rem-calc(209);
        flex-shrink: 0;
        position: relative;
        transition: all 250ms ease;
        z-index: 2;

        @media (max-width: 1600px) {
            width: 130px;
        }

        @media (max-width: 1199px) {
            position: static;
        }

        img {
            max-width: 100%;
            height: auto;
            transition: all 300ms ease;
        }

        &--open {
            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    &__button {
        margin: 0 0 0 rem-calc(30);
        border: none;
        background: transparent;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        color: $white;
        gap: 10px;
        padding: 0 48px 0 0;
        z-index: 2;
        transition: all 300ms ease-in-out;

        &::after {
            content: "•••";
            letter-spacing: 4px;
            color: $white;
            font-size: 30px;
            transition: all 300ms ease-in-out;
        }

        &:hover {
            border: none;
            background: transparent;
        }

        &.active {
            &::after {
                content: "✕";
            }
        }

        &--subpage {
            color: $black;

            &::after {
                color: $black;
            }

            &.active {
                color: $white;

                &::after {
                    color: $white;
                }
            }
        }
    }

    &__wrapper {
        width: 100%;
        min-height: 800px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: url("./images/menu-background.jpg") center/cover no-repeat;
        display: none;

        @media (max-width: 991px) {
            min-height: 100vh;
            height: auto;
            background: transparent;
        }
    }

    &__content {
        width: 100%;

        @media (max-width: 991px) {
            background: url("./images/menu-background.jpg") center/cover no-repeat;
        }
    }

    &__menu {
        width: 100%;
        height: 100vh;
        min-height: 800px;
        background: $theme-color-dark;
        padding: 250px 0 0 65px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 100px;
        transform: scale(0, 1);
        transform-origin: left;

        @media (min-width: 1199px) and (max-height: 799px) {
            padding: 150px 0 0 65px;
            gap: 70px;
        }

        @media (max-width: 1199px) {
            padding: 150px 0 0 65px;
            gap: 70px;
        }

        @media (max-width: 991px) {
            padding: 130px 35px 40px;
            gap: 30px;
            min-height: initial;
            height: auto;
            transform: scale(1, 0);
            transform-origin: top;
        }

        li {
            margin: 0;
            opacity: 0;

            a {
                @extend .h2;
                color: $white;
            }
        }
    }

    &__submenu {
        width: 100%;
        height: 100vh;
        min-height: 800px;
        padding: 250px 150px 0;
        // transform: scale(0,1);
        // transform-origin: left;
        display: flex;
        gap: 200px;

        @media (max-width: 1500px) {
            padding: 250px 65px 0;
            gap: 150px;
        }

        @media (min-width: 1199px) and (max-height: 799px) {
            padding: 150px 65px 0;
            gap: 100px;
        }

        @media (max-width: 1199px) {
            padding: 150px 65px 0;
            gap: 70px;
        }

        @media (max-width: 991px) {
            padding: 35px 35px 35px;
            gap: 30px;
            min-height: initial;
            height: auto;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            // transform: scale(1,0);
            // transform-origin: top;
        }
    }

    &__title {
        @extend .h2;
        color: $white;
        text-align: left;

        @media (max-width: 991px) {
            margin: 10px 0 0;
        }
    }

    &__subtitle {
        @extend .h4;
        color: $white;
        padding: 5px 0 30px;
        border-bottom: 1px solid $theme-color3;
        min-height: 59px;
        text-align: left;
    }

    &__items {
        width: 100%;
        max-width: 650px;
        margin: 30px 0 0;
        column-count: 2;
        column-gap: 15px;

        @media (min-width: 1199px) and (max-height: 799px) {
            margin: 67px 0 0;
        }

        @media (max-width: 1199px) {
            margin: 67px 0 0;
        }

        @media (max-width: 991px) {
            margin: 30px 0 0;
        }

        li {
            margin: 0 0 10px;
            text-align: left;

            a {
                @extend .paragraph;
                margin: 0;
                font-size: 15px;
                color: $white;
                text-align: left;
            }
        }

        // &--one-column {
        //   column-count: 1;
        //   max-width: 335px;
        // }
    }
}
