.projects {
  width: 100%;

  &--subpage {
    margin: 50px 0 0;
  }

  &__container {
    @media(max-width: 767px) {
      padding: 0 30px !important;
    }
  }

  &__slider {
    width: 100%;
    // padding: 0px 0 0 2.1vw;
    position: relative;

    // @media(max-width: 1920px) {
    //   padding: 0 0 0 3.3vw;
    // }

    @media(max-width: 767px) {
      padding: 0;
    }
  }

  &__slide {
    width: 100%;
    /* important is necessary to overwrite slick slider inline styles */
    display: flex !important;
    // gap: 30px;
    flex-wrap: wrap;

    @media(max-width: 767px) {
      gap: 15px;
    }
  }

  &__item {
    // width: calc(33.33% - 20px);
    width: 25%;
    position: relative;
    margin: 0;

    @media(max-width: 767px) {
      width: calc(50% - 7.5px);
    }

    @media(max-width: 599px) {
      width: 100%;
    }

    &:hover {
      .projects__overlay, .projects__content {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  &__image {
    width: 100%;
    height: 475px;

    @media(max-width: 1500px) {
      height: 350px;
    }

    @media(max-width: 767px) {
      height: 300px;
    }
  }

  &__link {
    z-index: 3;
  }

  &__overlay {
    @extend .cover;
    z-index: 1;
    background: $theme-color3;
    opacity: 0;
    transition: all 300ms ease-in-out;
    
    @media(max-width: 767px) {
      opacity: 1;
      top: auto;
      height: 130px;
    }
    
    @media(max-width: 535px) {
      height: 100px;
    }
  }

  &__content {
    margin: 0;
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    display: flex;
    gap: 20px;
    width: calc(100% - 100px);
    justify-content: space-between;

    @media(max-width: 767px) {
      bottom: 20px;
      opacity: 1;
    }

    p {
      margin: 5px 0 0;
      color: $white;
    }

    a {
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__title {
    font-size: 17px;
    text-transform: uppercase;
    color: $white;
  }

  /* slick slider styles overwrite */

  // .slick-slide {
  //   margin-right: 30px !important; 
  // }
  
  // .slick-list {
  //   margin-right: -30px !important; 
  //   padding: 0 10% 0 0 !important;
  // }

  .slick-dots {
    transform: none;
    justify-content: flex-end;
    position: absolute;
    top: -85px;
    right: 2.1vw;
    height: 30px;

    @media(max-width: 1920px) {
      right: 3.3vw;
    }

    @media(max-width: 767px) {
      display: none;
    }
  }

  /* slick arrows */
  .slick-arrow {
    position: fixed;
    width: rem-calc(53);
    height: rem-calc(109);
    bottom: 50%;
    transform: translateY(50%);
    z-index: 4;
    
    @media(max-width: 767px) {
      display: none;
    }

    &.slick-prev {
      background: url('./images/fingleton-left-arrow.png') center/contain no-repeat;
      left: rem-calc(-2);
    }

    &.slick-next {
      background: url('./images/fingleton-right-arrow.png') center/contain no-repeat;
      right: rem-calc(-2);
    }
  }

  &__load-more {
    width: 100%;
    margin: 80px auto;
    text-align: center;
  }

  &__button {
    margin: 0 auto;
    color: $input-color;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    gap: 10px;
    border: none;

    &:hover {
      color: $input-color;
      background: none;
      border: none;
    }

    &::after {
      width: 14px;
      height: 13px;
      background: url('./images/button-decorator.png') center/contain no-repeat;
      display: block;
      content: '';
      margin: 0;
    }
  }
}