.third-blog {
  width: 100%;
  padding: rem-calc(50) 0;

  &__wrapper {
    width: 100%;
  }

  &__row {
    @media(max-width: 991px) {
      flex-direction: column-reverse;
    }
  }

  &__item {
    width: 100%;
    height: 100%;

    @media(max-width: 767px) {
      margin: rem-calc(40) auto 0;
      height: auto;
    }
  }

  &__image {
    height: rem-calc(300);
    width: 100%;
    position: relative;
    overflow: hidden;

    &:hover {
      img {
        filter: brightness(0.8) contrast(1.05);
        transition: all 300ms ease-in-out;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    }

    img {
      transition: all 400ms ease-in-out;
      transform-origin: center;
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - 300px);

    @media(max-width: 767px) {
      align-items: center;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__title {
    @extend .h3;
    margin: rem-calc(20) 0 0;
  }

  &__time {
    display: block;
    font-size: rem-calc(14);
    margin: rem-calc(15) 0 0;
  }

  &__button {
    margin: rem-calc(25) 0 0;
  }

  p {
    margin: rem-calc(25) 0 0;

    @media(max-width: 768px) {
    	margin: rem-calc(16) 0;
    }
  }
}