*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0 !important;
  offset: none !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-primary;
  max-width: 100vw !important;
  overflow-x: hidden;
  position: relative;
  font-weight: 400;
  color: $text-color;

  &.archive {
    padding: 0;
  }
}

select,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="submit"],
textarea {
  offset: none;
  outline: none;
  appearance: none;
  font-family: $font-primary;
}

button {
  border: none;
  background: none;
  outline: none;
  font-family: $font-primary;

  &:focus {
    outline: none;
  }
}

a,
button,
input[type="submit"] {
  cursor: pointer !important;
  font-family: $font-primary;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.container-fluid {
  &--padding {
    padding: 0 65px !important;
    margin: 0 auto !important;

    @media(max-width: 1099px) {
      padding: 0 30px !important;
    }
  }

  .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
}

.container {
  // @media(max-width: 1330px) and (min-width: 992px) {
  //   padding-left: 100px !important;
  //   padding-right: 190px !important;
  // }

  .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
}

.woocommerce-page {
  padding: 0 !important;
}

.main {
  position: relative;
  z-index: 2;
  min-height: 57vh;
  // padding: rem-calc(99) 0 0;

  // @media(max-width: 1199px) {
  //   padding: rem-calc(80) 0 0;
  // }

  // @media(max-width: 445px) {
  //   padding: rem-calc(70) 0 0;
  // }

  // &--subpage {
  //   padding: rem-calc(101) 0 0;

  //   @media(max-width: 1199px) {
  //     padding: rem-calc(80) 0 0;
  //   }
  // }
}

.inactive {
  pointer-events: none;
}

.container {
  .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.object-fit-contain {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  max-width: 100%;
}

.default-block {
  ul {
    li {
      padding: 0 0 0 20px;
      position: relative;

      &::before {
        position: absolute;
        width: 5px;
        height: 5px;
        display: block;
        content: '';
        background: $theme-color2;
        border-radius: 50%;
        top: 10px;
        left: 0;
      }
    }
  }
}

.spacer {
  @media(max-width: 1199px) {
    height: 70px !important;
  }
}

.h-100 {
  height: 100%;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  display: block;
}

.text-center {
  text-align: center;
}

.position-static {
  position: static !important;
}

/* fix WC overwriting bootstrap classes */
.woocommerce {
  .col-1,
  .col-2 {
    max-width: none !important;
  }
}

/* RWD helping styles */
.mobile-only {
  @media (min-width: 1200px) {
    display: none !important;
  }
}

.desktop-only {
  @media (max-width: 1199px) {
    display: none !important;
  }
}

/* overwrite wp */
#wpadminbar {
  position: fixed !important;
}

/* reset all margins in gravity forms - delete it later from global and modify in block styles */
.gform_wrapper {
  margin: 0;
}

.gform_body {
  ul {
    li {
      margin: 0 !important;
      padding: 0 !important;

      label {
        display: none !important;
      }

      > div {
        margin: 0 !important;
      }
    }
  }
}

.gform_footer {
  margin: 0 !important;
  padding: 0 !important;
}

/* delete gravity forms error styles, FORM MUST BE WRAPPED WITH DIV WITH FORM CLASS */
.form
  .gform_wrapper.gform_validation_error
  .gform_body
  ul
  li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
  margin: rem-calc(20) 0 0 !important;
  background: none !important;
  border: none !important;
}

.form .gform_wrapper .top_label .gfield_error {
  width: 100% !important;
}

.form .gform_wrapper div.validation_error {
  padding: 0 !important;
  margin: 0 0 rem-calc(10) !important;
  font-size: rem-calc(12) !important;
}
.form
  .gform_wrapper
  li.gfield.gfield_error.gfield_contains_required
  div.gfield_description {
  padding: 0 !important;
  margin: rem-calc(10) 0 0 !important;
  font-size: rem-calc(12) !important;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.form .gform_validation_errors {
  padding: rem-calc(16) !important;
  text-align: center;

  .gform-icon {
    display: none !important;
  }
}

.gfield_required.gfield_required_text {
  font-style: normal !important;
  font-size: rem-calc(12) !important;
  color: $text-color !important;
}

.gfield_required_text {
  display: none !important;
}

/*slick arrow "next" and "prev" text delete */

.slick-prev,
.slick-next {
  font-size: rem-calc(0);
}

#wpadminbar {
  @media(max-width: 767px) {
    display: none !important;
  }
}

ul > li, ol > li {
  list-style: none;
}