/*
 * Typography
 */

 h1, .h1 {
  color: $text-color;
  font-family: $font-primary;
  font-size: 45px;
  line-height: 1.1;
  font-weight: 700;
  font-style: normal;
}

h2, .h2 {
  color: $text-color;
  font-family: $font-primary;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
  font-style: normal;

  @media(max-width: 767px) {
    font-size: 35px;
  }

  span {
    color: $theme-color;
  }
}

h3, .h3 {
  color: $text-color;
  font-family: $font-primary;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 700;
  font-style: normal;
}

h4, .h4 {
  color: $text-color;
  font-family: $font-primary;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
  font-style: normal;
}

p, .paragraph {
  font-size: rem-calc(17);
  line-height: 1.65;
  margin: rem-calc(20) 0 0;
  font-weight: 500;
  color: $text-color;
  font-style: normal;

  > a {
    font-weight: 400;
    text-decoration: underline;
    display: inline-block;
    color: $text-color;

    &:hover {
      text-decoration: underline;
      color: $text-color;
    }
  }
}

ul > li, ol > li {
  font-size: rem-calc(17);
  line-height: 1.5;
  font-weight: 500;
  margin: 10px 0 0;
}