.woocommerce-shop,
.tax-product_cat {
    width: 100%;
    max-width: 100vw;
    position: relative;
    z-index: 1;

    .woocommerce-message {
        display: none;
    }

    #primary {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        padding: 70px 0 0;
    }

    #main {
        @extend .container;
        padding: 0 15px;

        @media (max-width: 1199px) {
            padding: rem-calc(40) 15px 0;
            text-align: left;
        }

        .woocommerce-result-count {
            display: none;
        }

        .woocommerce-products-header {
            display: none;
        }

        .products.columns-4 {
            @extend .row;
            margin-top: 30px;
            margin-bottom: 50px;
            position: relative;
            z-index: 1;

            > li {
                @extend .col-sm-6;
                @extend .col-lg-4;
            }
        }

        // .products.columns-4 {
        //   display: flex;
        //   flex-wrap: wrap;
        //   gap: 30px;

        //   > li {
        //     width: 100%;
        //     max-width: calc(25% - 23px);
        //   }
        // }
    }

    /* hide irrelevant stuff related to blog */
    .sidebar__item {
        display: none;
    }

    .woocommerce-info {
        min-height: 300px;
        margin: 30px 0 0;
    }
}
