.breadcrumbs {
  margin: rem-calc(50) 0 rem-calc(60);

  @media(max-width: 1199px) {
    margin: rem-calc(10) 0 rem-calc(30);
  }

  &--single {
    margin: rem-calc(50) 0 rem-calc(0);
  }

  a, span {
    color: $input-color;
    font-size: rem-calc(14);
    font-weight: $light;
    text-decoration: none;
  }

  a {
    &:hover {
      color: $input-color;
      text-decoration: underline;
    }
  }
}

.woocommerce-breadcrumb {
  margin: 0 0 30px;
  color: $input-color;
  font-size: 13px;

  a {
    color: $input-color;
    font-size: 13px;
  }
}