/* related products */
.products.related,
.products.up-sells {
    position: relative;
    z-index: 1;

    > h2 {
        @extend .h3;
        text-align: center;
        margin: 40px auto 0;
    }

    .products.columns-4 {
        margin: 10px 0 0;
        @extend .row;

        > li {
            @extend .col-sm-6;
            @extend .col-lg-4;
        }
    }
}
