.bottom-bar {
    width: 100%;
    position: relative;
    z-index: 1;
    background: $theme-color2;

    &__wrapper {
        display: flex;
        width: 100%;
        gap: 20px;
        align-items: center;
        padding: 10px 0;

        @media (max-width: 1099px) {
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        }

        @media (max-width: 599px) {
            padding: 15px 0;
        }
    }

    &__images {
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: center;

        @media (max-width: 1099px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        padding: rem-calc(18) 0 rem-calc(16);
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        @media (max-width: 1099px) {
            justify-content: center;
            flex-direction: column;
        }

        p,
        a {
            font-size: 13px;
            margin: 0;
            color: $very-light-gray;
            font-weight: 400;
        }
    }
}
