.bottom-bar {
    width: 100%;
    position: relative;
    z-index: 4;
    background: $theme-color2;

    &__wrapper {
        display: flex;
        width: 100%;
        gap: 20px;
        align-items: center;
        padding: 10px 0;

        @media (max-width: 1099px) {
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        }

        @media (max-width: 599px) {
            padding: 15px 0;
        }
    }

    &__images {
        display: flex;
        width: 100%;
        gap: 15px;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        margin: 30px 0 0;

        @media (max-width: 1099px) {
            justify-content: center;
            flex-wrap: wrap;
        }

        img {
            max-width: 61px;
            height: auto;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        padding: rem-calc(18) 0 rem-calc(16);
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        @media (max-width: 1099px) {
            justify-content: center;
            flex-direction: column;
        }

        p,
        a {
            font-size: 13px;
            margin: 0;
            color: $very-light-gray;
            font-weight: 400;
        }
    }

    &__logo {
        position: relative;
        z-index: 10;

        &--color {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999;
            display: none;
            padding: 10px;
            background: rgba(0, 0, 0, 0.85);
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
            transform: translate(-50%, -100%);
            pointer-events: none;

            img,
            svg {
                width: 100%;
                height: auto;
                max-width: 300px;
                max-height: 300px;
                display: block;
            }
        }

        &.is-active {
            + .bottom-bar__logo--color {
                display: block;
            }
        }
    }
}
