.button {
    display: inline-block;
    background: transparent;
    color: $theme-color;
    padding: rem-calc(10) rem-calc(27);
    font-size: rem-calc(15);
    font-style: normal;
    border: 1px solid $theme-color;
    transition: all 300ms ease;
    font-weight: 400;
    white-space: nowrap;
    flex-shrink: 0;
    text-align: center;
    min-width: rem-calc(125);
    line-height: 1 !important;
    border-radius: 10px !important;
    text-transform: uppercase;

    @media (max-width: 449px) {
        padding: rem-calc(9) rem-calc(20) rem-calc(9.5);
        font-size: rem-calc(12);
    }

    &:hover {
        color: $white;
        border: 1px solid $theme-color;
        background: $theme-color;
    }

    &--checkout,
    &--continue-shopping,
    &--update-cart {
        min-width: rem-calc(184);
        text-align: center;
    }

    &--checkout {
        margin: rem-calc(20) 0 0;
    }

    &--continue-shopping,
    &--update-cart {
        margin: rem-calc(10) 0 0;
        border: 1px solid $text-color;
        background: transparent;
        color: $text-color;

        &:hover {
            background: $theme-color;
            border: 1px solid $theme-color;
        }
    }

    &.single_add_to_cart_button {
        margin: 0;
        height: rem-calc(48);
    }

    &.acf-button {
        background: #f6f7f7 !important;
        padding: 0 rem-calc(10) !important;
        color: #2271b1 !important;
        font-size: 13px !important;
        line-height: 2.15384615 !important;
        border: 1px solid #2271b1 !important;
    }
}

.added_to_cart {
    display: none !important;
}
