.contact {
	width: 100%;
	position: relative;
	max-width: 100%;
	overflow: hidden;

	&__row {
		// justify-content: center;

		> div {

			&:nth-child(2),
			&:nth-child(5) {

				> div {

					@media (min-width: 992px) {
						padding: 0 0 0 75px;
					}
				}
			}

			&:nth-child(3),
			&:nth-child(6) {

				> div {

					@media (min-width: 992px) {
						padding: 0 0 0 140px;
					}
				}
			}
		}
	}

	&__intro {
		position: relative;
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: space-between;

		p {
			max-width: 800px;
		}
	}

	&__button-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 20px 0 0;
	}

	&__link {
		background: url("./images/contact-intro-after.png") center/contain no-repeat;
		width: 85px;
		height: 45px;
		display: block;
		flex-shrink: 0;
		animation: contactArrow 3500ms ease-in-out infinite;

		@media (max-width: 600px) {
			width: 60px;
			height: 30px;
		}

		@media (max-width: 440px) {
			display: none;
		}
	}

	&__wrapper {
		margin-top: 70px;
		position: relative;

		@media (max-width: 1199px) {
			margin-top: 50px;
		}

		&::after {
			position: absolute;
			width: 200vw;
			height: 3px;
			background: #f0f0f0;
			top: 0;
			display: block;
			left: -50vw;
			content: "";
		}
	}

	&__tabs {
		margin-bottom: 25px;
	}

	&__countries {
		display: flex;
		align-items: center;
		gap: 32px;
		margin: 6px 0 30px;
	}

	&__country-button {
		position: relative;
		border: 0;
		background-color: transparent;
		padding: 0;
		font-size: 20px;
		line-height: 1.2;
		font-weight: 600;
		cursor: pointer;
		color: #222;

		&.is-active {
			color: $theme-color2;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				top: -6px;
				width: 100%;
				height: 3px;
				background-color: $theme-color2;
			}
		}
	}

	&__location-tabs {
		display: block;
	}

	&__location-tabs-group {
		display: none;
		flex-wrap: wrap;
		gap: 12px;

		&.is-active {
			display: flex;
		}
	}

	&__location-button {
		border-radius: 0;
		border: 1px solid transparent;
		background-color: #e9e9e9;
		padding: 8px 20px;
		font-size: 14px;
		line-height: 1.4;
		font-weight: 600;
		cursor: pointer;
		color: $text-color;
		transition:
			background-color 150ms ease,
			border-color 150ms ease,
			color 150ms ease,
			box-shadow 150ms ease;

		border-radius: 5px;

		&.is-active {
			background-color: #fff;
			border-color: #d5d5d5;
			color: $theme-color2;
		}
	}

	&__layout {
		display: grid;
		grid-template-columns: minmax(0, 1.3fr) minmax(0, 1.3fr);
		gap: 30px;
		align-items: stretch;
		position: relative;
		z-index: 2;

		@media (max-width: 991px) {
			grid-template-columns: minmax(0, 1fr);
		}
	}

	&__details {
		position: relative;

		@media (min-width: 1200px) {
			min-height: 536px;
		}
	}

	&__map-col {
		min-height: 260px;
		position: relative;

		@media (min-width: 992px) {
			min-height: 380px;
		}
	}

	&__map {
		height: 100%;
		border-radius: 0;
		overflow: hidden;
		position: absolute !important;
		top: 0;
		left: 0;
		width: 52vw;

		@media (max-width: 1199px) {
			width: 100%;
		}
	}
}

.contact-location-panel {
	display: none;

	&.is-active {
		display: block;
	}
}

.location-info--contact {
	padding: 0;
}

.location-info--contact .location-info__title {
	margin-bottom: 24px;
}

.location-info--contact .location-info__content {
	display: grid;
	row-gap: 0;
}

.location-info__address,
.location-info__phone,
.location-info__email,
.location-info__website {
	display: inline-block;
	font-size: 16px;
	line-height: 1.6;
}

.location-info__phone span,
.location-info__email span,
.location-info__website {
	color: $theme-color2;
	text-decoration: none;
}
