.cta {
    width: 100%;
    position: relative;
    z-index: 2;

    &__row {
        align-items: center;
    }

    p {
        @extend .h4;
    }

    &__button {
        @media (max-width: 767px) {
            margin: 25px 0 0;
        }
    }
}
