.gallery {
    width: 100%;
    position: relative;

    &__slider {
        width: 100%;
    }

    &__item {
        width: 100%;
    }

    &__image {
        width: 100%;
        height: 650px;
    }

    .slick-dots {
        margin: 25px 0 0;
    }
}
