.icons {
    width: 100%;
    background: $very-light-gray;

    &__wrapper {
        width: 100%;
        background: $white;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 78%,
            rgba(246, 246, 246, 1) 100%
        );
        padding: 10px 50px 50px;
    }

    &__item {
        width: 100%;
        margin: 40px 0 0;
    }

    &__image {
        width: 100%;
        max-width: 75px;

        img {
            height: auto;
            width: auto;
            max-width: 100%;
            display: block;
        }
    }

    &__content {
        width: 100%;
        margin: 20px 0 0;
    }
}
