.map {
  width: 100%;
  position: relative;

  &__content {
    height: rem-calc(450);
    width: 100%;
    
    @media(max-width: 767px) {
      height: rem-calc(300) !important;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}