.map-snazzy {
  width: 100%;
  height: 1000px;

  @media(max-width: 1920px) {
    height: 800px;
  }

  @media(max-width: 991px) {
    height: 500px;
  }

  &__marker {
    width: 64px;
    height: 64px;
  }
}