.pictures {
    background: $very-light-gray;
    overflow: hidden;

    .container-fluid {
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    &__grid {
        display: grid;
        gap: 12px;
        padding: 12px;

        @media (min-width: 992px) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 300px 300px;
        }

        @media (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media (min-width: 992px) {
            &:nth-child(1) {
                grid-column: 1;
                grid-row: 1;
            }

            &:nth-child(2) {
                grid-column: 2;
                grid-row: 1;
            }

            &:nth-child(3) {
                grid-column: 3 / span 2;
                grid-row: 1 / span 2;
            }

            &:nth-child(4) {
                grid-column: 5;
                grid-row: 1;
            }

            &:nth-child(5) {
                grid-column: 1 / span 2;
                grid-row: 2;
            }

            &:nth-child(6) {
                grid-column: 5;
                grid-row: 2;
            }
        }

        @media (max-width: 991px) {
            &:nth-child(3) {
                grid-column: 1 / -1;
            }
        }

        img.object-fit-cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: transform 0.6s ease;
        }

        &:hover {
            img.object-fit-cover {
                transform: scale(1.05);
            }
        }
    }
}
