.three-columns-content {
    width: 100%;
    position: relative;
    z-index: 2;

    &__item {
        width: 100%;
        margin: 45px 0 0;
    }

    &__title {
        margin: 0;
    }

    p {
        &:first-of-type {
            margin: 30px 0 0;
        }
    }

    &__link {
        @extend .paragraph;
        margin: 0;
        color: $theme-color;

        &:hover {
            color: $theme-color;
        }
    }
}
