.timeline {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  &--background {
    background: $very-light-gray;
  }

  &__slider {
    width: 100%;
    cursor: pointer;

    /* the slides */
    .slick-slide {
      margin: 0 15px;
    }

    /* the parent */
    .slick-list {
      margin: 0 -15px;
      padding: 0 10% 0 0 !important;

      @media(max-width: 767px) {
        padding: 0 20% 0 0 !important; 
      }
    }
  }
  
  &__item {
    background: $white;
    padding: 40px;
    min-height: 513px;
  }
  
  &__year {
    @extend .h2;
    font-weight: 700;
    display: block;
    margin: 0 0 45px;
  }
  
  &__title {
    color: #778945;
    margin: 0 0 20px;
  }

  &__image {
    width: 100%;
    height: 265px;
  }
}