.timeline {
	padding: rem-calc(80) 0;
	position: relative;
	overflow: hidden;

	&--background {
		background-color: $very-light-gray;
	}

	&__slider {
		position: relative;
		padding-top: rem-calc(50);

		.slick-list {
			overflow: visible;
		}
	}

	&__item {
		padding: 0 rem-calc(15);
		position: relative;
	}

	&__year {
		display: block;
		font-size: rem-calc(20);
		font-weight: 700;
		color: $text-color;
		margin-bottom: rem-calc(30);
		position: relative;
		padding-left: rem-calc(5);

		&::before {
			content: "";
			position: absolute;
			bottom: rem-calc(-15);
			left: 0;
			width: 100vw;
			height: 1px;
			background-color: #dcdcdc;
			z-index: 1;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: rem-calc(-19);
			left: 0;
			width: 9px;
			height: 9px;
			background-color: $text-color;
			border-radius: 50%;
			z-index: 2;
		}
	}

	&__image {
		width: 100%;
		height: rem-calc(280);
		margin-bottom: rem-calc(20);
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__title {
		font-size: rem-calc(16);
		font-weight: 600;
		color: $text-color;
		margin: 0;
	}

	.slick-arrow {
		position: absolute;
		top: 55%;
		transform: translateY(-50%);
		width: rem-calc(60);
		height: rem-calc(60);
		background: rgba(255, 255, 255, 0.9);
		border-radius: 50%;
		border: none;
		z-index: 20;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

		&::before {
			display: none;
		}

		svg {
			width: 12px;
			height: auto;

			path {
				stroke: #555;
				stroke-width: 1.5;
			}
		}

		&:hover {
			background: $theme-color;
			opacity: 1;

			svg path {
				stroke: $white;
			}
		}
	}

	.slick-prev {
		left: rem-calc(30);
	}

	.slick-next {
		right: rem-calc(30);
	}

	.slick-disabled {
		opacity: 0;
		visibility: hidden;
	}
}
